{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %} Bienvenidos | {{ block.super }} {% endblock %}

<style>
{% block style %}

.jumbotron {
	background-color: wheat; !important;

}
 {% endblock %}
</style>
    

{% block jumbotron %}

<div class="jumbotron">
<div class="container">
<div class="row">
	<div class="col-sm-6">
		<div class="bg-light p-5 rounded">
        	<h1>Inicio</h1>
        	<p>Fer formulario.</p>
         	 <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Ejemplo &raquo;</a>
     	</div>
    </div>
  	<div class="col-sm-6" style="background-color: black; height:315px;"><iframe width="560" height="315" src="https://www.youtube.com/embed/bO3cLmuZcKs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
</div>
{% endblock %}

{{ titulo }}<br/>
{{ request.user }}<br/>
<hr/>
<br/>


{% block content %}
<div class="row">
	<div class="col-sm-3 pull-right">
		<p class="lead text-align: center;">{{ titulo }}</p> 
		<form method="POST" action="">{% csrf_token %}
		{{ el_form|crispy }}
		<input type="submit" name="Registrate"/>
	</form>
</div>
<div class="col-sm-3">
	<p class="lead text-align: center;">Creado cn Django y Bootstrap </p>
	
</div>
<div class="col-sm-3">
	<p class="lead text-align: center;">Creado cn Django y Bootstrap </p>
	
</div>
<div class="col-sm-3">
	<p class="lead text-align: center;" >Creado cn Django y Bootstrap </p>
	
</div>
</div>
{% endblock %}
