{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %} Bienvenidos | {{ block.super }} {% endblock %}
{% block jumbotron_content %}
<div class="row">
	<div class="col-sm-6">
		<div class="bg-light p-5 rounded">
        	<h1>Inicio</h1>
        	<p>Fer formulario.</p>
         	 <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Ejemplo &raquo;</a>
     	</div>
    </div>
  	<div class="col-sm-6" style="background-color: black; height:300px;">
</div>

{% endblock %}

{{ titulo }}<br/>
{{ request.user }}<br/>
<hr/>
<br/>


{% block content %}
<div class="row">
	<div class="col-sm-3 pull-right">
		<p class="lead">{{ titulo }}</p> 
		<form method="POST" action="">{% csrf_token %}
		{{ el_form|crispy }}
		<input type="submit" name="Registrate"/>
	</form>
</div>
<div class="col-sm-3">
	<p class="lead">Creado cn Django y Bootstrap </p>
	
</div>
<div class="col-sm-3">
	<p class="lead">Creado cn Django y Bootstrap </p>
	
</div>
<div class="col-sm-3">
	<p class="lead">Creado cn Django y Bootstrap </p>
	
</div>
</div>
{% endblock %}
